name: Daily Stock Scraper

on:
  schedule:
    # 10:30 UTC = 4:00 PM IST
    - cron: '30 10 * * *'
  workflow_dispatch: # manual testing

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write  

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install pandas yfinance

      - name: Run scraper
        run: python main.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add itbees_data.csv || echo "No file to add"
          git commit -m "Auto-update stock data" || echo "No changes to commit"
          git push
